.infraction-load-enter {
  opacity: 0.01;
}

.infraction-load-enter.infraction-load-enter-active {
  opacity: 1;
  transition: opacity 200ms ease-in;
}

.infraction-load-leave {
  opacity: 1;
}

.infraction-load-leave.infraction-load-leave-active {
  opacity: 0.01;
  transition: opacity 200ms ease-in;
}

.infraction-load-appear {
  opacity: 0.01;
}

.infraction-load-appear.infraction-load-appear-active {
  opacity: 1;
  transition: opacity 200s ease-in;
}
